.border{
    border: 2px solid grey;
    margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.filter{
   filter: invert(1);
 }
 .bg-black{
    background-color: #000000;
    color: white;
 }
 .bg-grey{
    background-color: #121212;
 }
 .rounded{
    border-radius: 10px;
 }
 .m-1{
    margin: 5px;
 }
 .p-1{
    padding: 10px;
 }
 /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #2e2e2e;
  border-radius: 8px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2e2e2e #121212;
}
